.personal-info {
  padding: 30px;

  &__heading {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    text-align: left;
    color: #213f7d;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    &__heading {
      font-family: Work Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.08px;
      text-align: left;
      color: #545f7d;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    &__info {
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.77px;
      text-align: left;
      color: #545f7d;
    }
  }
}
