$text-primary-color:  #213F7D;

$text-secondary-color:#545F7D;


$text-tetiary-color: #39CDCC;
$text-danger-color: red;

//background-color
$white-background-color: #fff;


$link-text-color: rgba(33, 63, 125, 1);
$status-text-color: rgba(84, 95, 125, 1);

$sidebar-background-color: #fbfbfb;
