$font-family: "Avenir Next", "Helvetica Neue";



$text-font-size-40: 40px;

$text-font-size-20: 20px;

$text-font-size-30: 30px;
//font weight
$text-font-weight-bold:700;

$text-font-weight-normal: 400;

//line height

$text-line-height:54.64px;

$text-line-height-27: 27.32px;

